html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "BV";
  src: url("../assets/fonts/BaskervvilleSC-Regular.ttf");
}

:root {
  --blur-px: 5px;
  --bg-a: 0.3;
  --border-r: 10px;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background-color: #15202e;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  background-repeat: repeat;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: rgba(230, 245, 255, 0.75);
  text-align: center;
}

.header {
  margin: 10px;
  width: fit-content;
  gap: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, var(--bg-a));
  backdrop-filter: blur(var(--blur-px));
  border-radius: var(--border-r);
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* Clocks, digital and binary */
.digital-clock {
  font-size: 2.2rem;
  font-weight: bold;
}

.binary-clock {
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-clock-binary td {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.dashboard-clock-binary .num1 {
  background-color: #2eb35a;
}

.logo-container {
  font-family: "BV", serif;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.logo-subtitle {
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  color: rgba(230, 245, 255, 0.5);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: rgba(230, 245, 255, 0.75);
  text-align: center;
}
