/* Media Queries */
@media screen and (max-width: 1000px) {
  .server-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 7px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column !important;
    gap: 10px !important;
  }
  #root {
    gap: 10px;
  }
}

@media screen and (max-width: 300px) {
  .logo {
    font-size: 1.5rem !important;
  }
  .logo-subtitle {
    font-size: 0.8rem !important;
  }
  .digital-clock {
    font-size: 1.5rem !important;
  }
  .dashboard-clock-binary td {
    height: 0.3rem !important;
    width: 0.3rem !important;
  }
  .server-sys {
    font-size: 0.8rem !important;
  }
  .server > img {
    display: none;
  }
}
